*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black
}
/* si cambio el nombre,tambien debo hacerlo en grid-area */
.grilla{
    display: grid;
    grid-template-rows:1fr 3fr 3fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap:20px;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    "nav header header"
    "nav productos publicidad"
    "nav servicios publicidad"
    "footer footer publicidad"

}
.border{
    border: 1px solid black;
}
header{
    background-color: rgb(175, 112, 233);
    grid-area: header;
}
footer{
    background-color: rgb(140, 209, 209);
    grid-area: footer;
}
section#productos{
background-color: rgb(138, 211, 104);
    
}
section#servicios{
    background-color: rgb(189, 207, 86);
}
nav{
    background-color: rgb(102, 164, 223);
    grid-area: nav;
}
aside{
    background-color: rgb(221, 142, 77);
    grid-area: publicidad;

}
/* practica */
.body{
background-color: rgb(255, 255, 255);
display: grid;
grid-column-gap:10px;
grid-row-gap: 10px;
grid-template-rows: 100px 70px 800px 400px 100px;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-areas: 
"header header header header"
"nav nav nav nav"
"main main main aside"
"seccion-1 seccion-2 seccion-3 aside"
"footer footer footer footer"
}
.header{
background-color: blue;
grid-area: header;
display: flex;
flex-direction: row;
justify-content: end;
justify-content: space-between;
margin-bottom: 10px;

}
.nav{
background-color: rgb(110, 103, 103);
grid-area: nav;
}
.linkcontenedor{
    list-style: none;
    text-align: start;
}
.linkcontenedor li{
    display: inline-block;
}
.linkcontenedor a{
text-decoration: none;
font-size: 1rem;
padding-left: 3rem; 

}
.main{
background-color: blueviolet;
grid-area: main;
}
.section{
background-color: orange;
}
.section-1{
background-color: yellow;
grid-area: seccion-1;
}
.section-2{
background-color: red;
grid-area: seccion-2;
}
.section-3{
background-color: palevioletred;
grid-area: seccion-3;
}
.aside{
    background-color: rgb(157, 231, 45);
    grid-area: aside;
}
.footer{
    background-color: rgb(139, 139, 139);
    grid-area: footer;
}
.logo_conteiner_header{
    display: flex;
    align-items: center;
}
.buscador{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    
}
.buscador input{
    width: 300px;
}
.contenedor_input_general{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contenedor_input{
display: flex;
flex-direction: column;
}
