.bg-pink{
background-color: pink;
}
.bg-blue{
    background-color: blue;
}
.bg-green{
    background-color: green;
}
.text-centercss{
    text-align: center;
}
.icono_google_modal img{
    width: 15px;

}
